{% extends 'base.html' %}
{% load static %}
{% block content %}
		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Terms &amp; Conditions </h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->
        <!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-lg-6">
						<h1 class="section-title">Our Terms and Conditions</h1>
						<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>

						<!-- <div class="row my-5">
							{% for s in services %}
							<div class="col-6 col-md-6 col-lg-3 mb-4">
								<div class="feature">
									<div class="icon">
										<img src="{{s.image.url}}" alt="Image" class="imf-fluid">
									</div>
									<h3>{{s.title}}</h3>
									<p>{{s.description}}</p>
								</div>
							</div>
							{% endfor %} 

						</div> -->
					</div>

					<!-- <div class="col-lg-5">
						<div class="img-wrap">
							<img src="{%static 'images/why-choose-us-img.jpg' %}" alt="Image" class="img-fluid">
						</div>
					</div> -->

				</div>
			</div>
		</div>

{% endblock %}

